[package]
name = "bpf-linker"
version = "0.9.10"
authors = ["Alessandro Decina <alessandro.d@gmail.com>"]
description = "BPF static linker"
license = "MIT OR Apache-2.0"
keywords = ["BPF", "eBPF", "linker", "llvm"]
categories = [
    "development-tools",
    "command-line-utilities",
    "no-std",
    "os::linux-apis",
]
repository = "https://github.com/aya-rs/bpf-linker"
readme = "README.md"
edition = "2021"

[dependencies]
# cli deps
clap = { version = "4.4.11", features = ["derive"] }
simplelog = { version = "0.12.1" }

# lib deps
ar = { version = "0.9.0" }
aya-rustc-llvm-proxy = { version = "0.9.0", optional = true }
libc = { version = "0.2.151" }
llvm-sys = { features = ["disable-alltargets-init"], version = "170.0.0" }
log = { version = "0.4.20" }
thiserror = { version = "1.0.50" }

[dev-dependencies]
compiletest_rs = { version = "0.10.1" }
regex = { version = "1.10.2", default-features = false }
rustc-build-sysroot = { version = "0.4.2", default-features = false }
which = { version = "4.2.0", default-features = false, features = ["regex"] }

[[bin]]
name = "bpf-linker"

[features]
rust-llvm = [
    "dep:aya-rustc-llvm-proxy",
    "llvm-sys/no-llvm-linking",
]
default = ["rust-llvm"]

[profile.release]
debug = true
