[package]
name = "bpf-linker"
version = "0.9.8"
authors = ["Alessandro Decina <alessandro.d@gmail.com>"]
description = "BPF static linker"
license = "MIT OR Apache-2.0"
keywords = ["BPF", "eBPF", "linker", "llvm"]
categories = [
    "development-tools",
    "command-line-utilities",
    "no-std",
    "os::linux-apis",
]
repository = "https://github.com/aya-rs/bpf-linker"
readme = "README.md"
edition = "2021"

[dependencies]
# cli deps
clap = { version = "4.3", features = ["derive"] }
simplelog = { version = "0.12.1" }

# lib deps
ar = { version = "0.9.0" }
aya-rustc-llvm-proxy = { version = "0.7.0", optional = true }
libc = { version = "0.2" }
llvm-sys = { version = "160" }
log = { version = "0.4" }
thiserror = { version = "1.0" }

[dev-dependencies]
compiletest_rs = { version = "0.5", path = "third-party/compiletest-rs" }
rustc-build-sysroot = { version = "0.4.2" }
which = { version = "4.2" }

[[bin]]
name = "bpf-linker"

[features]
rust-llvm = [
    "aya-rustc-llvm-proxy",
    "llvm-sys/no-llvm-linking",
    "llvm-sys/disable-alltargets-init",
]
default = ["rust-llvm"]

[profile.release]
debug = true
