[package]
name = "bpf-linker"
version = "0.9.0"
authors = ["Alessandro Decina <alessandro.d@gmail.com>"]
description = "BPF static linker"
license = "MIT OR Apache-2.0"
keywords = ["BPF", "eBPF", "linker", "llvm"]
categories = ["development-tools", "command-line-utilities", "no-std", "os::linux-apis"]
repository = "https://github.com/alessandrod/bpf-linker"
readme = "README.md"
edition = "2018"

[dependencies]
# cli deps
structopt = { version = "0.3", optional = true }
clap = { version = "2", optional = true }
simplelog = {version = "0.7.6", optional = true}

# lib deps
thiserror = { version = "1.0", optional = true }
ar = { version = "0.8", optional = true }
log = { version = "0.4", optional = true }
llvm-sys = { version = "110", optional = true }
rustc-llvm-proxy = { version = "0.2", optional = true, path = "third-party/rustc-llvm-proxy" }

[dev-dependencies]
compiletest_rs = { version = "0.5", path = "third-party/compiletest-rs" }

[[bin]]
name = "bpf-linker"

[features]
llvm-proxy = [
    "rustc-llvm-proxy",
    "llvm-sys/no-llvm-linking",
    "llvm-sys/disable-alltargets-init"
]
lib = ["thiserror", "ar", "log"]
cli = ["structopt", "clap", "simplelog"]
system-llvm = ["cli", "lib", "llvm-sys"]
rust-llvm = ["cli", "lib", "llvm-proxy"]
default = ["system-llvm"]
