[package]
name = "bpf-linker"
version = "0.9.9"
authors = ["Alessandro Decina <alessandro.d@gmail.com>"]
description = "BPF static linker"
license = "MIT OR Apache-2.0"
keywords = ["BPF", "eBPF", "linker", "llvm"]
categories = [
    "development-tools",
    "command-line-utilities",
    "no-std",
    "os::linux-apis",
]
repository = "https://github.com/aya-rs/bpf-linker"
readme = "README.md"
edition = "2021"

[dependencies]
# cli deps
clap = { version = "4.4.1", features = ["derive"] }
simplelog = { version = "0.12.1" }

# lib deps
ar = { version = "0.9.0" }
aya-rustc-llvm-proxy = { version = "0.8.0", optional = true }
gimli = { version = "0.26.2" }
libc = { version = "0.2.0" }
llvm-sys = { version = "170.0.0" }
log = { version = "0.4.20" }
thiserror = { version = "1.0.47" }

[dev-dependencies]
compiletest_rs = { version = "0.10.1" }
regex = { version = "1.9.4", default-features = false }
rustc-build-sysroot = { version = "0.4.2", default-features = false }
which = { version = "4.2.0", default-features = false, features = ["regex"] }

[[bin]]
name = "bpf-linker"

# TODO: restore this when https://reviews.llvm.org/D156446 is included in rustc's LLVM.
# [features]
# rust-llvm = [
#     "aya-rustc-llvm-proxy",
#     "llvm-sys/no-llvm-linking",
#     "llvm-sys/disable-alltargets-init",
# ]
# default = ["rust-llvm"]

[profile.release]
debug = true

[patch.crates-io]
compiletest_rs = { git = "https://github.com/Manishearth/compiletest-rs.git" }
