[package]
name = "bpf-linker"
version = "0.9.13"
authors = ["Alessandro Decina <alessandro.d@gmail.com>"]
description = "BPF static linker"
license = "MIT OR Apache-2.0"
keywords = ["BPF", "eBPF", "linker", "llvm"]
categories = [
    "development-tools",
    "command-line-utilities",
    "no-std",
    "os::linux-apis",
]
repository = "https://github.com/aya-rs/bpf-linker"
readme = "README.md"
edition = "2021"

[dependencies]
# cli deps
anyhow = "1.0.96"
clap = { version = "4.5.31", features = ["derive"] }
tracing-appender = "0.2"
tracing-subscriber = { version = "0.3", features = ["env-filter", "registry"] }
tracing-tree = "0.4"

# lib deps
ar = { version = "0.9.0" }
aya-rustc-llvm-proxy = { version = "0.9.3", optional = true }
gimli = { version = "0.31.1" }
libc = { version = "0.2.170" }
llvm-sys = { features = ["disable-alltargets-init"], version = "191.0.0" }
log = { version = "0.4.26" }
thiserror = { version = "2.0.11" }
tracing = "0.1"

[dev-dependencies]
compiletest_rs = { version = "0.11.0" }
regex = { version = "1.11.1", default-features = false }
rustc-build-sysroot = { version = "0.5.4", default-features = false }
which = { version = "7.0.2", default-features = false, features = ["regex"] }

[[bin]]
name = "bpf-linker"

[features]
rust-llvm = [
    "dep:aya-rustc-llvm-proxy",
    "llvm-sys/no-llvm-linking",
]
default = ["rust-llvm"]

[profile.release]
debug = true

[patch.crates-io]
compiletest_rs = { git = "https://github.com/Manishearth/compiletest-rs.git" }
