[package]
name = "bpf-linker"
version = "0.9.12"
authors = ["Alessandro Decina <alessandro.d@gmail.com>"]
description = "BPF static linker"
license = "MIT OR Apache-2.0"
keywords = ["BPF", "eBPF", "linker", "llvm"]
categories = [
    "development-tools",
    "command-line-utilities",
    "no-std",
    "os::linux-apis",
]
repository = "https://github.com/aya-rs/bpf-linker"
readme = "README.md"
edition = "2021"

[dependencies]
# cli deps
anyhow = "1.0.86"
clap = { version = "4.5.4", features = ["derive"] }
tracing-appender = "0.2"
tracing-subscriber = { version = "0.3", features = ["env-filter", "registry"] }
tracing-tree = "0.3"

# lib deps
ar = { version = "0.9.0" }
aya-rustc-llvm-proxy = { version = "0.9.2", optional = true }
gimli = { version = "0.29.0" }
libc = { version = "0.2.155" }
llvm-sys = { features = ["disable-alltargets-init"], version = "180.0.0-rc2" }
log = { version = "0.4.21" }
thiserror = { version = "1.0.61" }
tracing = "0.1"

[dev-dependencies]
compiletest_rs = { version = "0.10.1" }
regex = { version = "1.10.4", default-features = false }
rustc-build-sysroot = { version = "0.5.2", default-features = false }
which = { version = "6.0.1", default-features = false, features = ["regex"] }

[[bin]]
name = "bpf-linker"

[features]
rust-llvm = [
    "dep:aya-rustc-llvm-proxy",
    "llvm-sys/no-llvm-linking",
]
default = ["rust-llvm"]

[profile.release]
debug = true

[patch.crates-io]
compiletest_rs = { git = "https://github.com/Manishearth/compiletest-rs.git" }
