[package]
name = "xtask"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
rustc-build-sysroot = { workspace = true }
walkdir = { workspace = true }

[lints]
workspace = true
