name: CI

on:
  push:

  pull_request:

  schedule:
    - cron: 00 4 * * *

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  llvm:
    uses: ./.github/workflows/llvm.yml

  lint-stable:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rust-src

      - name: Run clippy
        run: cargo clippy --features llvm-21,no-llvm-linking --all-targets --workspace -- --deny warnings

  lint-nightly:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, rust-src

      - name: Check formatting
        run: cargo fmt --all -- --check

  build:
    # We don't use ubuntu-latest because we care about the apt packages available.
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - rust: 1.86.0
            llvm: 19
            exclude-features: default,llvm-20,llvm-21,rust-llvm-20,rust-llvm-21
          - rust: 1.90.0
            llvm: 20
            exclude-features: default,llvm-19,llvm-21,rust-llvm-19,rust-llvm-21
          - rust: stable
            llvm: 21
            exclude-features: default,llvm-19,llvm-20,rust-llvm-19,rust-llvm-20
          - rust: beta
            llvm: 21
            exclude-features: default,llvm-19,llvm-20,rust-llvm-19,rust-llvm-20
          - rust: nightly
            llvm: 21
            exclude-features: llvm-19,llvm-20,rust-llvm-19,rust-llvm-20
        platform:
          # Rust CI ships only one flavor of libLLVM, shared or static, per
          # target. Linux GNU targets come with shared ones. Apple and Linux
          # musl targets come with dynamic ones.
          - os: macos-latest
            static-target: aarch64-apple-darwin
            # Rust does not provide a shared libLLVM library on macOS,
            # therefore we exclude `default` and `rust-llvm-*`.
            # macOS does not provide static libc++ and zlib and the ones
            # provided by homebrew might be ABI-incompatible, therefore we
            # exclude `llvm-deps-link-static`.
            exclude-features: default,llvm-deps-link-static,rust-llvm-19,rust-llvm-20,rust-llvm-21
          - os: macos-15-intel
            static-target: x86_64-apple-darwin
            exclude-features: default,llvm-deps-link-static,rust-llvm-19,rust-llvm-20,rust-llvm-21
          - os: ubuntu-22.04
            shared-target: x86_64-unknown-linux-gnu
            static-target: x86_64-unknown-linux-musl
            # Link dependencies like libc++, zlib, zstd statically on Linux.
            llvm-features-static: llvm-deps-link-static
          - os: ubuntu-22.04-arm
            shared-target: aarch64-unknown-linux-gnu
            static-target: aarch64-unknown-linux-musl
            llvm-features-static: llvm-deps-link-static
        llvm-from:
          - packages
          - rust-ci-shared
          - rust-ci-static
        include:
          # Currently we build LLVM from source only for Linux x86_64.
          - toolchain:
              rust: nightly
              llvm: 21
              exclude-features: llvm-19,llvm-20,rust-llvm-19,rust-llvm-20
            platform:
              os: ubuntu-22.04
            llvm-from: source
        exclude:
          # Rust CI does not provide LLVM 19 anymore.
          - toolchain:
              llvm: 19
            llvm-from: rust-ci-shared
          - toolchain:
              llvm: 19
            llvm-from: rust-ci-static
          # There is no macOS target that Rust CI ships shared libraries for.
          - platform:
              os: macos-latest
            llvm-from: rust-ci-shared
          - platform:
              os: macos-15-intel
            llvm-from: rust-ci-shared
    name: os=${{ matrix.platform.os }} rustc=${{ matrix.toolchain.rust }} llvm-version=${{ matrix.toolchain.llvm }} llvm-from=${{ matrix.llvm-from }}
    needs: llvm

    env:
      RUST_BACKTRACE: full
      # Features that have to be included for dynamic linking.
      LLVM_FEATURES_DYNAMIC: llvm-${{ matrix.toolchain.llvm }}
      # Features that have to be included for static linking.
      LLVM_FEATURES_STATIC: llvm-${{ matrix.toolchain.llvm }},llvm-link-static
      # Features that have to be excluded when running `cargo hack --feature-powerset`
      # and intending to link dynamically.
      LLVM_EXCLUDE_FEATURES_DYNAMIC: llvm-deps-link-static,llvm-link-static,no-llvm-linking
      RUSTC_LLVM_INSTALL_DIR: /tmp/rustc-llvm

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust ${{ matrix.toolchain.rust }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain.rust }}
          components: rust-src

      - name: Check (default features, no system LLVM)
        run: cargo check

      - name: Build (default features, no system LLVM)
        run: cargo build

      - name: Install btfdump
        run: cargo install btfdump

      - name: Install prerequisites
        if: runner.os == 'Linux' && runner.arch == 'X86'
        # gcc-multilib provides at least <asm/types.h> which is referenced by libbpf.
        run: |
          set -euxo pipefail
          sudo apt update
          sudo apt -y install gcc-multilib

      - name: Add clang 15 to PATH
        if: runner.os == 'Linux'
        # ubuntu-22.04 comes with clang 13-15[0]; support for signed and 64bit
        # enum values was added in clang 15[1] which isn't in `$PATH`.
        #
        # [0] https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md
        # [1] https://github.com/llvm/llvm-project/commit/dc1c43d
        run: echo /usr/lib/llvm-15/bin >> $GITHUB_PATH

      - name: Add LLVM APT repository
        if: runner.os == 'Linux'
        run: |
          set -euxo pipefail
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
          echo -e deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-${{ matrix.toolchain.llvm }} main | sudo tee /etc/apt/sources.list.d/llvm.list
          sudo apt update

      - name: Install LLVM (Linux, packages)
        if: matrix.llvm-from == 'packages' && runner.os == 'Linux'
        run: |
          set -euxo pipefail
          sudo apt -y install llvm-${{ matrix.toolchain.llvm }}-dev
          echo /usr/lib/llvm-${{ matrix.toolchain.llvm }}/bin >> $GITHUB_PATH

      - name: Install FileCheck (Linux)
        if: (matrix.llvm-from == 'rust-ci-shared' || matrix.llvm-from == 'rust-ci-static') && runner.os == 'Linux'
        run: |
          set -euxo pipefail
          sudo apt -y install llvm-${{ matrix.toolchain.llvm }}-tools
          echo /usr/lib/llvm-${{ matrix.toolchain.llvm }}/bin >> $GITHUB_PATH

      - name: Install LLVM (macOS, packages)
        if: matrix.llvm-from == 'packages' && runner.os == 'macOS'
        run: |
          set -euxo pipefail
          brew install llvm@${{ matrix.toolchain.llvm }}
          echo $(brew --prefix llvm@${{ matrix.toolchain.llvm }})/bin >> $GITHUB_PATH
          echo "DYLD_LIBRARY_PATH=$(brew --prefix llvm@${{ matrix.toolchain.llvm }})/lib" >> $GITHUB_ENV

      - name: Install LLVM from Rust CI
        if: matrix.llvm-from == 'rust-ci-shared' || matrix.llvm-from == 'rust-ci-static'
        run: |
          set -euxo pipefail
          mkdir -p $RUSTC_LLVM_INSTALL_DIR
          rustc_sha=$(cargo xtask rustc-llvm-commit --github-token ${{ secrets.GITHUB_TOKEN }})
          if [[ "${{ matrix.llvm-from }}" == "rust-ci-shared" ]]; then
            target="${{ matrix.platform['shared-target'] }}"
          else
            target="${{ matrix.platform['static-target'] }}"
          fi
          wget -q -O - "https://ci-artifacts.rust-lang.org/rustc-builds/$rustc_sha/rust-dev-nightly-$target.tar.xz" | \
            tar -xJ --strip-components 2 -C $RUSTC_LLVM_INSTALL_DIR
          echo "${RUSTC_LLVM_INSTALL_DIR}/bin" >> $GITHUB_PATH
          if [[ "${{ matrix.llvm-from }}" == "rust-ci-shared" ]]; then
            echo "LD_LIBRARY_PATH=${RUSTC_LLVM_INSTALL_DIR}/lib" >> $GITHUB_ENV
          fi
          # `FileCheck` binary shipped in musl tarballs is linked dynamically
          # to musl, we can't execute it on Ubuntu.
          if [[ "${{ runner.os }}" == "Linux"
                && "${{ matrix.llvm-from }}" == "rust-ci-static" ]]; then
            rm -f "${RUSTC_LLVM_INSTALL_DIR}/bin/FileCheck"
          fi

      - name: Restore LLVM from our GitHub cache
        if: matrix.llvm-from == 'source'
        uses: actions/cache/restore@v4
        with:
          path: llvm-install
          key: ${{ needs.llvm.outputs.cache-key }}
          fail-on-cache-miss: true

      - name: Add LLVM to PATH && LD_LIBRARY_PATH
        if: matrix.llvm-from == 'source'
        run: |
          set -euxo pipefail
          echo "${{ github.workspace }}/llvm-install/bin" >> $GITHUB_PATH
          # LD_LIBRARY_PATH is needed because we're going to link everything dynamically below. This
          # doesn't affect behavior, but greatly reduces disk usage.
          echo "LD_LIBRARY_PATH=${{ github.workspace }}/llvm-install/lib" >> $GITHUB_ENV

      # llvm-sys discovers link flags at build script time; these are cached by cargo. The cached
      # flags may be incorrect when the cache is reused across LLVM versions.
      - name: Bust llvm-sys cache
        run: |
          set -euxo pipefail
          cargo clean -p llvm-sys
          cargo clean -p llvm-sys --release

      - uses: taiki-e/install-action@cargo-hack

      - name: Check (dynamic linking, feature powerset)
        # Static linking in combination with `cargo hack --feature-powerset`
        # (multiple builds) increases the disk usage massively.
        if: matrix.llvm-from != 'rust-ci-static'
        run: |
          cargo hack check --feature-powerset \
            --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }},${{ matrix.platform.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }}

      - name: Check (static linking, single feature set)
        if: matrix.llvm-from == 'rust-ci-static'
        run: |
          cargo check --no-default-features \
            --features \
            ${{ env.LLVM_FEATURES_STATIC }},${{ matrix.platform.llvm-features-static }}

      - name: Build (dynamic linking, feature powerset)
        if: matrix.llvm-from != 'rust-ci-static'
        run: |
          cargo hack build --feature-powerset \
            --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }},${{ matrix.platform.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }}

      - name: Build (static linking, single feature set)
        if: matrix.llvm-from == 'rust-ci-static'
        run: |
          cargo build --no-default-features \
            --features \
            ${{ env.LLVM_FEATURES_STATIC }},${{ matrix.platform.llvm-features-static }}

      # Toolchains provided by rustup include standard library artifacts
      # only for Tier 1 targets, which do not include BPF targets.
      #
      # The default workaround is to use the `rustc-build-sysroot` crate to
      # build a custom sysroot with the required BPF standard library before
      # running compiler tests.
      #
      # `RUSTC_BOOTSTRAP` is needed to use `rustc-build-sysroot` on stable Rust.
      - name: Test (sysroot built on demand, dynamic linking)
        if: matrix.llvm-from != 'rust-ci-static'
        run: |
          RUSTC_BOOTSTRAP=1 cargo hack test --feature-powerset \
            --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }},${{ matrix.platform.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }}

      - name: Test (sysroot built on demand, static linking)
        if: matrix.llvm-from == 'rust-ci-static'
        run: |
          RUSTC_BOOTSTRAP=1 cargo test --no-default-features \
            --features \
             ${{ env.LLVM_FEATURES_STATIC }},${{ matrix.platform.llvm-features-static }}

      # To make things easier for package maintainers, the step of building a
      # custom sysroot can be skipped by setting the `BPFEL_SYSROOT_DIR`
      # environment variable to the path of the prebuilt BPF sysroot.
      #
      # Test this configuration by prebuilding the BPF standard library
      # manually.
      #
      # `RUSTC_BOOTSTRAP` is needed to make `xtask build-std` work on stable
      # Rust.
      - name: Build BPF standard library
        run: |
          set -euxo pipefail

          RUSTC_SRC="$(rustc --print sysroot)/lib/rustlib/src/rust/library"
          BPFEL_SYSROOT_DIR="${{ github.workspace }}/bpf-sysroot"
          RUSTC_BOOTSTRAP=1 cargo xtask build-std \
            --rustc-src "$RUSTC_SRC" \
            --sysroot-dir "$BPFEL_SYSROOT_DIR" \
            --target bpfel-unknown-none
          echo "BPFEL_SYSROOT_DIR=${BPFEL_SYSROOT_DIR}" >> $GITHUB_ENV

      - name: Test (prebuilt BPF standard libary, dynamic linking)
        if: matrix.llvm-from != 'rust-ci-static'
        run: |
          set -euxo pipefail
          BPFEL_SYSROOT_DIR="$BPFEL_SYSROOT_DIR" cargo hack test --feature-powerset \
            --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }},${{ matrix.platform.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }}

      - name: Test (prebuilt BPF standard library, static linking)
        if: matrix.llvm-from == 'rust-ci-static'
        run: |
          set -euxo pipefail
          BPFEL_SYSROOT_DIR="$BPFEL_SYSROOT_DIR" cargo test --no-default-features \
            --features \
            ${{ env.LLVM_FEATURES_STATIC }},${{ matrix.platform.llvm-features-static }}

      - uses: actions/checkout@v6
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        with:
          repository: aya-rs/aya
          path: aya
          submodules: recursive

      - name: Install (dynamic linking)
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly' && matrix.llvm-from != 'rust-ci-static'
        run: |
          cargo install --path . --no-default-features --features \
            ${{ env.LLVM_FEATURES_DYNAMIC }}

      - name: Install (static linking)
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly' && matrix.llvm-from == 'rust-ci-static'
        run: cargo install --path . --no-default-features --features \
          ${{ env.LLVM_FEATURES_STATIC }},${{ matrix.platform.llvm-features-static }}

      - name: Run aya integration tests
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        working-directory: aya
        run: cargo xtask integration-test local

      - name: Report disk usage
        if: ${{ always() }}
        uses: ./.github/actions/report-disk-usage
