name: CI

on:
  push:

  pull_request:

  schedule:
    - cron: 00 4 * * *

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  llvm:
    uses: ./.github/workflows/llvm.yml

  lint-stable:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rust-src

      - name: Run clippy
        run: cargo clippy --features llvm-21,no-llvm-linking --all-targets --workspace -- --deny warnings

  lint-nightly:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, rust-src

      - name: Check formatting
        run: cargo fmt --all -- --check

  build:
    # We don't use ubuntu-latest because we care about the apt packages available.
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - rust: 1.90.0
            llvm: 20
            exclude-features: default,llvm-19,llvm-21,rust-llvm-19,rust-llvm-21
          - rust: stable
            llvm: 21
            exclude-features: default,llvm-19,llvm-20,rust-llvm-19,rust-llvm-20
          - rust: beta
            llvm: 21
            exclude-features: default,llvm-20,rust-llvm-20
          - rust: nightly
            llvm: 21
            exclude-features: llvm-20,rust-llvm-20
        platform:
          - os: macos-latest
          - os: macos-15-intel
          - os: ubuntu-22.04
          - os: ubuntu-22.04-arm
        llvm-from:
          - packages
        include:
          # Currently we build LLVM from source only for Linux x86_64.
          - toolchain:
              rust: nightly
              llvm: 21
              exclude-features: llvm-20,rust-llvm-20
            platform:
              os: ubuntu-22.04
            llvm-from: source
    name: os=${{ matrix.platform.os }} rustc=${{ matrix.toolchain.rust }} llvm-version=${{ matrix.toolchain.llvm }} llvm-from=${{ matrix.llvm-from }}
    needs: llvm

    env:
      RUST_BACKTRACE: full
      LLVM_FEATURES: llvm-${{ matrix.toolchain.llvm }}
      LLVM_EXCLUDE_FEATURES: llvm-deps-link-static,llvm-link-static,no-llvm-linking

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust ${{ matrix.toolchain.rust }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain.rust }}
          components: rust-src

      - name: Check (default features, no system LLVM)
        run: cargo check

      - name: Build (default features, no system LLVM)
        run: cargo build

      - name: Install btfdump
        run: cargo install btfdump

      - name: Add clang to PATH
        if: runner.os == 'Linux'
        # ubuntu-22.04 comes with clang 13-15[0]; support for signed and 64bit
        # enum values was added in clang 15[1] which isn't in `$PATH`.
        #
        # [0] https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md
        #
        # [1] https://github.com/llvm/llvm-project/commit/dc1c43d
        run: |
          set -euxo pipefail
          echo /usr/lib/llvm-15/bin >> $GITHUB_PATH

      - name: Install LLVM (Linux, packages)
        if: matrix.llvm-from == 'packages' && runner.os == 'Linux'
        run: |
          set -euxo pipefail
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
          echo -e deb http://apt.llvm.org/jammy/ llvm-toolchain-jammy-${{ matrix.toolchain.llvm }} main | sudo tee /etc/apt/sources.list.d/llvm.list

          sudo apt update
          sudo apt -y install llvm-${{ matrix.llvm-version }}-dev
          echo /usr/lib/llvm-${{ matrix.llvm-version }}/bin >> $GITHUB_PATH
          echo /usr/lib/llvm-${{ matrix.toolchain.llvm }}/bin >> $GITHUB_PATH

      - name: Install LLVM (macOS, packages)
        if: matrix.llvm-from == 'packages' && runner.os == 'macOS'
        run: |
          set -euxo pipefail
          brew install llvm@${{ matrix.toolchain.llvm }}
          echo $(brew --prefix llvm@${{ matrix.toolchain.llvm }})/bin >> $GITHUB_PATH
          echo "DYLD_LIBRARY_PATH=$(brew --prefix llvm@${{ matrix.toolchain.llvm }})/lib" >> $GITHUB_ENV

      - name: Restore LLVM
        if: matrix.llvm-from == 'source'
        uses: actions/cache/restore@v4
        with:
          path: llvm-install
          key: ${{ needs.llvm.outputs.cache-key }}
          fail-on-cache-miss: true

      - name: Add LLVM to PATH && LD_LIBRARY_PATH
        if: matrix.llvm-from == 'source'
        run: |
          set -euxo pipefail
          echo "${{ github.workspace }}/llvm-install/bin" >> $GITHUB_PATH
          # LD_LIBRARY_PATH is needed because we're going to link everything dynamically below. This
          # doesn't affect behavior, but greatly reduces disk usage.
          echo "LD_LIBRARY_PATH=${{ github.workspace }}/llvm-install/lib" >> $GITHUB_ENV

      # llvm-sys discovers link flags at build script time; these are cached by cargo. The cached
      # flags may be incorrect when the cache is reused across LLVM versions.
      - name: Bust llvm-sys cache
        run: |
          set -euxo pipefail
          cargo clean -p llvm-sys
          cargo clean -p llvm-sys --release

      - uses: taiki-e/install-action@cargo-hack

      - name: Check
        run: |
          cargo hack check --feature-powerset \
            --exclude-features ${{ env.LLVM_EXCLUDE_FEATURES }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES }}

      - name: Build
        run: |
          cargo hack build --feature-powerset \
            --exclude-features ${{ env.LLVM_EXCLUDE_FEATURES }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES }}

      # Toolchains provided by rustup include standard library artifacts
      # only for Tier 1 targets, which do not include BPF targets.
      #
      # The default workaround is to use the `rustc-build-sysroot` crate to
      # build a custom sysroot with the required BPF standard library before
      # running compiler tests.
      #
      # `RUSTC_BOOTSTRAP` is needed to use `rustc-build-sysroot` on stable Rust.
      - name: Test (sysroot built on demand)
        run: |
          RUSTC_BOOTSTRAP=1 cargo hack test --feature-powerset \
            --exclude-features ${{ env.LLVM_EXCLUDE_FEATURES }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES }}

      # To make things easier for package maintainers, the step of building a
      # custom sysroot can be skipped by setting the `BPFEL_SYSROOT_DIR`
      # environment variable to the path of the prebuilt BPF sysroot.
      #
      # Test this configuration by prebuilding the BPF standard library
      # manually.
      #
      # `RUSTC_BOOTSTRAP` is needed to make `xtask build-std` work on stable
      # Rust.
      - name: Test (prebuilt BPF standard library)
        run: |
          set -euxo pipefail

          RUSTC_SRC="$(rustc --print sysroot)/lib/rustlib/src/rust/library"
          BPFEL_SYSROOT_DIR="${{ github.workspace }}/bpf-sysroot"
          RUSTC_BOOTSTRAP=1 cargo xtask build-std \
            --rustc-src "$RUSTC_SRC" \
            --sysroot-dir "$BPFEL_SYSROOT_DIR" \
            --target bpfel-unknown-none

          BPFEL_SYSROOT_DIR="$BPFEL_SYSROOT_DIR" cargo hack test --feature-powerset \
            --exclude-features ${{ env.LLVM_EXCLUDE_FEATURES }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES }}

      - uses: actions/checkout@v6
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        with:
          repository: aya-rs/aya
          path: aya
          submodules: recursive

      - name: Install
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        run: cargo install --path . --no-default-features --features ${{ env.LLVM_FEATURES }}

      - name: Run aya integration tests
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        working-directory: aya
        run: cargo xtask integration-test local

      - name: Report disk usage
        if: ${{ always() }}
        uses: ./.github/actions/report-disk-usage
