name: Release

on:
  release:
    types: [published]

permissions: {}

jobs:
  llvm:
    uses: ./.github/workflows/llvm.yml

  upload-bins:
    # TODO: Build for macos someday.
    runs-on: ubuntu-22.04
    needs: llvm
    steps:
      - name: Restore LLVM
        uses: actions/cache/restore@v4
        with:
          path: llvm-install
          key: ${{ needs.llvm.outputs.cache-key }}
          fail-on-cache-miss: true

      - name: Add LLVM to PATH
        run: |
          echo "${{ github.workspace }}/llvm-install/bin" >> $GITHUB_PATH
          echo "$PATH"

      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2

      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: bpf-linker
          features: llvm-sys/force-static
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
